export(theme_rgm)
importFrom(ggplot2, "theme_grey")
importFrom(ggplot2, "element_rect")
importFrom(ggplot2, "element_line")
importFrom(ggplot2, "element_text")
importFrom(ggplot2, "element_blank")
importFrom(grid, "unit")
